In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

## Task 1

In [88]:
df = pd.read_csv('project1_data.csv', delimiter = ';')
array = df.to_numpy() 

print(f"Observations: {df.shape[0]}")

def check_missing_data(array):
    np.isnan(array).any()

print(
    "Is table missing any data? " + 
    ("Yes" if check_missing_data(array) else "No")
)

Observations: 450
Is table missing any data? No

,id,weight,height,sex,cats,age,income,savings,single,place,expenses
0,1,84.99,171.72,1,2,55,1213.10,480.45,0,1,326.33
1,2,91.06,175.83,1,2,41,1300.14,192.14,0,2,409.24
2,3,88.30,175.34,1,1,42,1203.19,643.34,0,3,274.26
3,4,84.51,167.64,1,1,50,1231.13,303.35,0,1,374.86
4,5,85.72,171.62,1,2,53,892.02,424.99,0,2,248.24
...,...,...,...,...,...,...,...,...,...,...,...
445,446,86.48,168.03,1,1,59,6838.88,2875.71,1,3,-391.65
446,447,91.96,171.22,2,2,50,1447.32,511.32,0,3,368.74
447,448,85.15,174.71,1,1,52,1142.19,519.33,0,2,287.80
448,449,86.92,166.04,1,5,41,944.19,633.63,0,3,229.27
449,450,88.90,178.80,1,4,40,2293.23,440.76,1,2,475.40

np.False_